{
  email {$EMAIL}
  log {
    format console {
      time_format wall_milli  # 2006/01/02 15:04:05.000
    }
  }

  # Avoid rate-limiting by let's encrypt. Use for testing
  #acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

(tls) {
  tls {
    dns cloudflare {$CLOUDFLARE_API_TOKEN}
  }
}

(globals) {
  header / {
    # Enable HTTP Strict Transport Security (HSTS)
    Strict-Transport-Security "max-age=31536000;"

    # Enable cross-site filter (XSS) and tell browser to block detected attacks
    X-XSS-Protection "1; mode=block"

    # Disallow the site to be rendered within a frame (clickjacking protection)
    X-Frame-Options "DENY"

    encode gzip                           # zips responses if not already
    -Server                               # Server name removing
    X-Robots-Tag "none"                   # Prevent search engines from indexing
    Permissions-Policy interest-cohort=() # Disable FLoC tracking
  }
}

(matrix-well-known) {
  header /.well-known/matrix/* Content-Type application/json
  header /.well-known/matrix/* Access-Control-Allow-Origin *
  respond /.well-known/matrix/server `{"m.server": "matrix.{$DOMAIN}:443"}`
  respond /.well-known/matrix/client `{"m.homeserver": {"base_url": "https://matrix.{$DOMAIN}"}, "org.matrix.msc3575.proxy": {"url": "https://matrix.{$DOMAIN}"}}`
}

(auth) {
  forward_auth nas:1000 {
    uri /api/verify?rd=https://auth.{$DOMAIN}
    copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
  }
}

matrix.{$DOMAIN} {
  reverse_proxy /_matrix/* nas:8448
}

*.{$DOMAIN}, {$DOMAIN} {
  import tls
  import globals
  import matrix-well-known

  @www host www.{$DOMAIN}
  handle @www {
    redir https://{$DOMAIN}{uri}
  }

  @auth host auth.{$DOMAIN}
  handle @auth {
    reverse_proxy nas:1000
  }

  @vaultwarden host vaultwarden.{$DOMAIN}
  handle @vaultwarden {
    reverse_proxy nas:8080
  }

  @watch host watch.{$DOMAIN}
  handle @watch {
    reverse_proxy nucbox:8096
  }

  @music host music.{$DOMAIN}
  handle @music {
    import auth
    reverse_proxy nucbox:4533
  }

  @photos host photos.{$DOMAIN}
  handle @photos {
    reverse_proxy nucbox:2283
  }

  @hireme host hireme.{$DOMAIN}
  handle @hireme {
    reverse_proxy nas:1313
  }

  @status host status.{$DOMAIN}
  handle @status {
    reverse_proxy nas:8090
  }

  @cloud host cloud.{$DOMAIN}
  handle @cloud {
    reverse_proxy nas:9200
  }

  respond "404: Not Found" 404
}
